@use 'sass:color';
@use '../../../../styles-shared' as *;

$border-outer: color.adjust($border-accent-dark, $lightness: 5%);
$line-color: color.adjust($border-accent-dark, $lightness: 10%);
$marker-color: color.adjust($border-accent-dark, $lightness: 25%);

:host {
  display: flex;
  flex-direction: column;
  width: 1100px;
  margin: 15px auto;
  border: 2px solid $border-accent-dark;
  border-radius: 10px;
  overflow: hidden;
  user-select: none;
  &.inside-block {
    width: min(1172px, calc(100% - 20px));
    margin: 0 0 25px 3px;
    border-color: $border-outer;
    @include desktop-small {
      width: calc(100% - 25px);
    }
  }
  &.inside-tooltip {
    width: 100%;
    margin: 0 auto;
    border: none;
    border-radius: 0;
    overflow: visible;
  }
  @include desktop-small {
    width: calc(100% - 20px);
  }
}

.horizontal-container {
  display: flex;
  width: 100%;
  background-color: $bg-dark;
  :host.reversed & {
    flex-direction: row-reverse;
  }
}

//=============================================================================
//  Timeline Divisions
//=============================================================================

.division-container {
  position: relative;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  text-align: center;  
  height: 28px;
  padding-top: 2px;
  border: 1px solid $bg-medium;
  color: $text-normal;
  font-size: 15px;
  transition: .2s;
  cursor: pointer;
  &:before {
    @include element-overlay;
    z-index: -1;
    box-shadow: 0 0 2px 2px $shadow-medium-dark inset;
    transition: .2s;
  }
  &:after {
    @include element-overlay;
    opacity: 0;
    background-color: $bg-white-transparent-thin;
    transition: .2s;
  }
  &.upper {
    height: 25px;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
  }
  :host:not(.reversed) & {
    &:not(:first-of-type) {
      border-left: none;
    }
    
  }
  :host:not(.reversed):not(.inside-block) & {
    &:first-of-type {
      border-top-left-radius: 8px;
    }
    &:last-of-type {
      border-top-right-radius: 8px;
    }
  }
  :host.reversed & {
    &:not(:last-of-type) {
      border-left: none;
    }
  }
  :host.reversed:not(.inside-block) & {
    &:first-of-type {
      border-top-right-radius: 8px;
    }
    &:last-of-type {
      border-top-left-radius: 8px;
    }
  }
  :host.inside-block & span {
    white-space: nowrap;
  }
  :host.inside-tooltip & {
    border-radius: 0 !important;
    &.upper {
      border-left: none;
      border-right: none;
    }
  }
  :host.inside-tooltip:not(.reversed) & {
    &:first-of-type {
      border-left: none;
    }
    &:last-of-type {
      border-right: none;
    }
  }
  :host.reversed.inside-tooltip & {
    &:first-of-type {
      border-right: none;
    }
    &:last-of-type {
      border-left: none;
    }
  }
  @include hover {
    color: $text-bright;
    &:after {
      opacity: 1;
    }
  }
  @include desktop-small {
    :host:not(.inside-block) & {
      align-items: center;
      height: 45px;
      padding: 0 12px;
    }
  }
}

.division-container.narrow span {
  position: absolute;
  bottom: calc(100% + 5px);
  right: calc(50% + 10px);
  border-bottom: 1px solid $text-dim;
  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 100%;
    width: 15px;
    border-bottom: 1px solid $text-dim;
    transform-origin: top left;
    transform: rotate(45deg);
  }
  :host.reversed & {
    right: unset;
    left: calc(50% + 10px);
    &:after {
      left: unset;
      right: 100%;
      transform-origin: top right;
      transform: rotate(-45deg);
    }
  }
}

//=============================================================================
//  Time Scale
//=============================================================================

.scale {
  position: relative;
  height: 25px;
  background: repeating-linear-gradient(
    -45deg,
    $bg-dark 0, $bg-dark 10px,
    $bg-medium 11px, $bg-medium 12px
  );
  :host.inside-tooltip & {
    background: transparent;
  }
}

.line {
  width: 100%;
  height: 2px;
  background-color: $line-color;
}

.tick-mark-major,
.tick-mark-minor {
  position: absolute;
  background-color: $line-color;
}

.tick-mark-major {
  width: 3px;
  height: 12px;
  transform: translateY(-5px);
}

.tick-mark-minor {
  width: 1px;
  height: 8px;
  transform: translateY(-3px);
}

.label {
  position: absolute;
  color: $accent;
  font-size: 14px;
  font-family: 'Inconsolata', monospace;
  white-space: nowrap;
  transform: translate(50%, 8px);
}

//=============================================================================
//  Time Marker
//=============================================================================

.marker {
  position: absolute;
  background-color: $marker-color;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  transform: translateY(-2px);
  &:after {
    @include element-overlay;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px $marker-color;
    animation: marker-wave 1500ms linear infinite;
  }
  &.interval {
    height: 4px;
    border-radius: 2px;
    transform: translateY(-1px);
    &:after {
      animation: interval-wave 1500ms linear infinite;
    }
  }
}

@keyframes marker-wave {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}

@keyframes interval-wave {
  0% {
    width: 100%;
    left: 0;
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    width: calc(100% + 50px);
    left: -25px;
    transform: scaleY(6);
    opacity: 0;
  }
}
