//=============================================================================
//  Eons
//=============================================================================

.background-hadean {
  background: rgba(174, 2, 126, .20);
}

.background-archean {
  background: rgba(240, 4, 127, .18);
}

.background-proterozoic {
  background: rgba(247, 53, 99, .22);
}

.background-phanerozoic {
  background: rgba(154, 217, 221, .15);
}

//=============================================================================
//  Eras
//=============================================================================

.background-eoarchean {
  background: rgba(230, 29, 140, .24);
}

.background-paleoarchean {
  background: rgba(246, 104, 178, .24);
}

.background-mesoarchean {
  background: rgba(248, 129, 181, .22);
}

.background-neoarchean {
  background: rgba(250, 167, 200, .2);
}

.background-paleoproterozoic {
  background: rgba(247, 67, 112, .26);
}

.background-mesoproterozoic {
  background: rgba(253, 180, 98, .25);
}

.background-neoproterozoic {
  background: rgba(254, 179, 66, .28);
}

.background-paleozoic {
  background: rgba(153, 192, 141, .22);
}

.background-mesozoic {
  background: rgba(103, 197, 202, .22);
}

.background-cenozoic {
  background: rgba(242, 249, 29, .20);
}

//=============================================================================
//  Periods
//=============================================================================

.background-siderian {
  background: rgba(247, 79, 124, .28);
}

.background-rhyacian {
  background: rgba(247, 91, 137, .3);
}

.background-orosirian {
  background: rgba(247, 104, 152, .32);
}

.background-statherian {
  background: rgba(248, 117, 167, .34);
}

.background-calymmian {
  background: rgba(253, 192, 122, .28);
}

.background-ectasian {
  background: rgba(253, 204, 138, .28);
}

.background-stenian {
  background: rgba(254, 217, 154, .30);
}

.background-tonian {
  background: rgba(254, 191, 78, .30);
}

.background-cryogenian {
  background: rgba(254, 204, 92, .28);
}

.background-ediacaran {
  background: rgba(254, 217, 106, .30);
}

.background-cambrian {
  background: rgba(127, 160, 86, .30);
}

.background-ordovician {
  background: rgba(0, 146, 112, .36);
}

.background-silurian {
  background: rgba(179, 225, 182, .25);
}

.background-devonian {
  background: rgba(203, 140, 55, .25);
}

.background-carboniferous {
  background: rgba(103, 165, 153, .3);
}

.background-permian {
  background: rgba(240, 64, 40, .25);
}

.background-triassic {
  background: rgba(129, 43, 146, .25);
}

.background-jurassic {
  background: rgba(52, 178, 201, .3);
}

.background-cretaceous {
  background: rgba(127, 198, 78, .25);
}

.background-paleogene {
  background: rgba(253, 154, 82, .25);
}

.background-neogene {
  background: rgba(255, 230, 25, .28);
}

.background-quaternary {
  background: rgba(249, 249, 127, .24);
}

//=============================================================================
//  Epochs
//=============================================================================

.background-paleocene {
  background: rgba(253, 167, 95, .28);
}

.background-eocene {
  background: rgba(253, 180, 108, .3);
}

.background-oligocene {
  background: rgba(253, 192, 122, .25);
}

.background-miocene {
  background: rgba(255, 255, 0, .28);
}

.background-pliocene {
  background: rgba(255, 255, 153, .28);
}

.background-pleistocene {
  background: rgba(255, 242, 174, .27);
}

.background-holocene {
  background: rgba(254, 242, 224, .25);
}
