@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin no-scroll-bar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@mixin element-overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
