@use '../../../../styles-shared' as *;

:host {
  position: relative;
  color: $accent-bright;
  transition: .2s;
  @include hover {
    cursor: help;
    color: $accent-intense;
    @include tablet {
      color: $accent-bright;
      cursor: default;
    }
  }
}

.tooltip {
  position: fixed;
  top: 100%;
  left: 0;
  z-index: 1000;
  width: 1110px;
  padding: 10px;
  border: 2px solid $border-accent-dark;
  border-radius: 10px;
  background: $bg-dark;
  animation: fade-in .1s .1s both;
  @include hover {
    display: none;
  }
  @include desktop-small {
    width: calc(100% - 40px);
  }
}

.trapezoid {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 50px;
  opacity: .5;
  transform-origin: bottom;
  transform: scaleY(calc(72 / 50));
}
