@use 'sass:color';
@use '../../../../styles-shared' as *;

:host{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  z-index: 1;
  width: min(760px, 100%);
  margin: 20px;
  transition: .5s;
  @include tablet {
    width: min(735px, 100% - 32px);
    margin: 10px 15px 12px 15px;
    border-radius: 10px;
  }
  @include mobile {
    width: calc(100% - 10px);
    margin: 10px 0;
  }
  &.collapsed {
    @include tablet {
      background: $bg-black-transparent-thin;
      box-shadow: 0 0 3px 3px $shadow-black-transparent-thin inset;
      cursor: pointer;
    }
  }
}

//=============================================================================
//  Description Header (Tablet & Mobile)
//=============================================================================

.description-header {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 8px 5px 7px 5px;
  padding: 0 5px 4px 5px;
  border-bottom: 1px dashed $border-bright;
  font-size: 18px;
  letter-spacing: .02em;
  transition: .3s;
  .triangle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-left: 1.5em;
    color: $text-dim;
    font-size: smaller;
    transform-origin: center;
    transform: rotateX(0deg);
    transition: 250ms;
  }
  @include tablet {
    display: flex;
  }
  @include mobile {
    font-size: 16px;
  }
}

:host.collapsed {
  @include tablet {
    .description-header {
      border-color: transparent;
      .triangle {
        transform: rotateX(180deg) translateY(-3px);
      }
    }
  }
  @include mobile {
    .description-header {
      .triangle {
        transform: rotateX(180deg) translateY(-2px);
      }
    }
  }
}

//=============================================================================
//  List
//=============================================================================

ul {
  margin-left: 20px;
  font-size: 16px;
  letter-spacing: .01em;
  animation: fade-in .5s;
  li {
    display: list-item;
    margin-bottom: 10px;
    padding-left: 10px;
    text-shadow: .5px .5px $shadow-brighter;
    &:last-of-type {
      margin-bottom: 0;
    }
    &::marker {
      content: '\2B9E';
      font-size: smaller;
    }
    .badge {
      margin-right: 5px;
      padding: 1px 5px 2px 5px;
      border-radius: 3px;
      background-color: $border-accent-dark;
      font-family: 'Inconsolata', monospace;
      font-weight: 500;
      letter-spacing: 0.02em;
      user-select: none;
    }
    strong {
      color: $text-bright;
      font-weight: 500;
      letter-spacing: .02em;
    }
    .time {
      color: color.adjust($accent, $saturation: 10%, $lightness: 20%);
    }
  }
  @include desktop-small {
    font-size: 15px;
  }
  @include tablet {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    li {
      margin-bottom: 8px;
      padding-right: 10px;
      &::marker {
        content: '\27A4';
      }
    }
  }
}

:host.collapsed {
  @include tablet {
    ul {
      display: none;
    }
  }
}