<!-- Panel Button -->
<button
  type="button"
  class="side-panel-button"
  [ngClass]="{'visible-on-mobile': verticalOffset > 200 || isPanelOpen()}"
  (click)="togglePanel()">
  @if (isPanelOpen()) {
    <img class="icon" src="./icons/cross.svg" alt="" />
  } @else {
    <img class="icon" src="./icons/hamburger.svg" alt="" />
  }  
</button>

<!-- Panel -->
<div class="side-panel" [ngClass]="{'panel-open': isPanelOpen()}">
  <div class="side-panel-header">Quick Navigation</div>
  <app-panel-block-group [group]="timeline()" [direction]="direction()" [(isPanelOpen)]="isPanelOpen" />
</div>

<!-- Backdrop -->
@if (isPanelOpen()) {
  <div class="backdrop" (click)="togglePanel()"></div>
}
