@use '../styles-shared' as *;

$footer-min-height: 200px;

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh + $footer-min-height);
}

//=============================================================================
//  Header
//=============================================================================

header {
  display: flex;
  justify-content: center;
  width: min(100% - 30px, 1000px);
  margin: 35px auto 50px auto;
  padding-bottom: 35px;
  border-bottom: 2px dashed $border-faint;
  color: $accent;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.02em;
  @include tablet {
    margin: 25px auto 20px auto;
    padding-bottom: 25px;
    font-size: 26px;
  }
  @include mobile {
    max-width: calc(100% - 50px);
    font-size: 20px;
  }
}

//=============================================================================
//  Intro
//=============================================================================

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 0 20px;
  @include tablet {
    gap: 12px;
  }
  @include mobile {
    gap: 10px;
  }
}

p {
  max-width: 800px;
  color: $text-normal-darker;
  text-align: justify;
  font-size: 18px;
  letter-spacing: .005em;
  @include tablet {
    font-size: 16px;
    letter-spacing: .01em;
  }
  @include mobile {
    text-align: left;
    font-size: 14px;
  }
}

//=============================================================================
//  Footer
//=============================================================================

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: $footer-min-height;
  gap: 25px;
  margin-top: auto;
  padding: 25px 0;
  background: $bg-bright;
  @include mobile {
    padding: 15px 0;
    gap: 15px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  width: min(100%, 800px);
  margin: 0 auto;
  padding: 5px 20px;
  &-header {
    padding: 5px 0;
    border-bottom: 1px dashed $border-dark;
    color: $text-normal-darker;
    text-align: center;
    font-size: 18px;
    letter-spacing: .02em;
    text-shadow: 1px 1px $shadow-medium-bright;
    @include mobile {
      font-size: 16px;
    }
  }
  ul {
    margin: 15px 0 10px 15px;
    color: $text-dim;
    font-size: 14px;
    letter-spacing: 0.01em;
    li {
      margin-bottom: 8px;
      padding: 0 10px 0 5px;
    }
    @include mobile {
      font-size: 12px;
    }
  }
}

.image-decorative {
  width: min(100% - 20px, 960px);
  margin: 0 auto;
  transform: translateX(-6%);
  user-select: none;
  @include mobile {
    transform: translateX(-3%);
  }
}
