<!-- Header -->
<header>Geologic History of Earth</header>

<!-- Intro Text -->
<div class="intro">
  @for (paragraph of INTRO_TEXT; track $index) {
    <p>{{paragraph}}</p>
  }
</div>

<!-- Timeline -->
<app-timeline [timeline]="eons" [(direction)]="direction" />

<!-- Side Panel -->
<app-side-panel [timeline]="eons" [direction]="direction()" />

<!-- Footer -->
<footer>
  <div class="column">
  <div class="column-header">Notes</div>
    <ul>
      @for (note of FOOTER_NOTES; track $index) {
        <li>{{note}}</li>
      }
    </ul>
  </div>
  <img
    class="image-decorative"
    src="./img/footer/dinosaur-skeleton-decorative.webp"
    alt=""
  />
</footer>
