@use '../../../../styles-shared' as *;

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  &.reversed {
    flex-direction: column-reverse;
  }
}

//=============================================================================
//  Side Panel Block
//=============================================================================

$side-panel-block-border-radius: 4px;

.side-panel-block {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 8px 5px 7px;
  border-radius: $side-panel-block-border-radius;
  letter-spacing: 0.02em;
  text-shadow: 1px 1px $shadow-darker;
  &:before {
    z-index: -1;
    border-radius: calc($side-panel-block-border-radius + 1px);
    background: $bg-dark;
    box-shadow: 0 0 3px 3px $shadow-medium-dark inset;
    @include element-overlay;
  }
  &.no-subdivisions {
    padding: 0;
  }
}

//=============================================================================
//  Side Panel Block > Timeline Division
//=============================================================================

.side-panel-division {
  display: flex;
  width: 100%;
}

.division-link {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 5px 2px 5px;
  border-radius: 6px;
  cursor: pointer;
  transition: .2s;
  @include hover {
    background: $bg-white-transparent-thick;
  }
  @include mobile {
    padding: 0 0 0 3px;
  }
}

.side-panel-block.collapsed:not(.no-subdivisions):not(.type-eon) {
  .division-link {
    padding-bottom: 0;
    border-radius: 4px;
  }
}

.side-panel-block.no-subdivisions {
  .division-link {
    padding: 5px 8px 5px 17px;
    @include hover {
      background: $bg-white-transparent-thin;
    }
    @include mobile {
      padding-left: 15px;
    }
  }
  &.type-eon .division-link {
    padding-left: 10px;
  }
}

//=============================================================================
//  Side Panel Block > Timeline Division > Timeline Division Name
//=============================================================================

.division-name {
  padding-left: 4px;
  border-bottom: 1px dotted $border-dark;
  transition: .2s;
  @include mobile {
    border-bottom: none;
  }
}

.division-link {
  @include hover {
    .division-name {
      color: $text-bright;
    }
  }
} 

.side-panel-block.no-subdivisions:not(.type-eon) {
  .division-name {
    padding: 0;
  }
}

.side-panel-block.collapsed {
  .division-name {
    padding-bottom: 0;
  }
  &:not(.type-eon) .division-name {
    border-color: transparent;
  }
}

.side-panel-block {
  &.type-eon .division-name {
    font-size: 20px;
    @include mobile {
      font-size: 18px;
    }
  }
  &.type-era .division-name {
    font-size: 18px;
    @include mobile {
      font-size: 16px;
    }
  }
  &.type-period .division-name {
    font-size: 17px;
    @include mobile {
      font-size: 15px;
    }
  }
  &.type-epoch .division-name {
    font-size: 16px;
    @include mobile {
      font-size: 14px;
    }
  }
}

//=============================================================================
//  Side Panel Block > Timeline Division > Timeline Division Duration
//=============================================================================

.division-duration {
  display: flex;
  padding-left: 4px;
  color: $accent;
  font-size: 14px;
  white-space: pre-wrap;
  animation: fade-in .3s;
}

//=============================================================================
//  Side Panel Block > Timeline Division > Expand/Collapse Button
//=============================================================================

.subdivisions-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  margin-left: 10px;
  background: $bg-black-transparent-medium-thin;
  color: $text-dim-darker;
  border: none;
  border-radius: 6px;
  user-select: none;
  transition: .2s;
  cursor: pointer;
  &-triangle {
    animation: fade-in .3s;
  }
  @include hover {
    background: $bg-black-transparent-medium;
    color: $text-dim;
  }
  @include mobile {
    width: 34px;
    border-radius: 3px;
    font-size: smaller;
  }
}

.side-panel-block.collapsed:not(.type-eon) {
  .subdivisions-button {
    border-radius: 4px;
    font-size: smaller;
  }
}

//=============================================================================
//  Side Panel Block > Subdivisions Container
//=============================================================================

.subdivisions-container {
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  padding: 6px 0;
  animation: fade-in .3s;
  .vertical-line {
    height: 100%;
    margin: 0 10px 0 5px;
    border-left: 1px dashed $border-accent;
  }
}
