@use '../../../../styles-shared' as *;

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  &.reversed {
    flex-direction: column-reverse;
  }
}

//=============================================================================
//  Division Boundaries (Start, End)
//=============================================================================

.boundary {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  @include mobile {
    margin: 6px 8px;
  }
  &-line {
    display: flex;
    flex-grow: 1;
    border-top: 1px dashed $border-accent;
  }
  &-value {
    margin: 0 20px;
    color: $accent;
    font-family: 'Inconsolata', monospace;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    text-shadow: 1px 1px $shadow-dark;
    white-space: nowrap;
    @include tablet {
      font-size: 18px;
    }
    @include mobile {
      margin: 0 15px;
      font-size: 16px;
    }
  }
}

//=============================================================================
//  Division Container
//=============================================================================

.division-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  transition: .3s;
  &:before {
    z-index: -1;
    background: linear-gradient(-45deg, black, $bg-dark);
    box-shadow: 0 0 2px 2px $shadow-medium-dark inset;
    border-radius: 10px;
    @include element-overlay;
  }
  &.type-eon,
  &.type-eon:before {
    border-radius: 0;
  }
  &.type-eon:before {
    left: -5px;
    width: calc(100% + 10px);
  }
}

//=============================================================================
//  Division Container > Division Header
//=============================================================================

.division-header {
  position: relative;
  display: flex;
  align-self: stretch;
  margin: 2px;
  border-radius: 10px 10px 0 0;
  background: $bg-black-transparent-thin;
  font-size: 20px;
  letter-spacing: .02em;
  text-shadow: 1px 1px $shadow-bright;
  overflow: hidden;
  transition: .3s;
  animation: fade-in .5s;
  @include tablet {
    font-size: 19px;
  }
  @include mobile {
    font-size: 18px;
  }
  .division-container.collapsed & {
    background: transparent;
    border-radius: 10px;
  }
}

.division-header-overlay {
  position: absolute;
  z-index: 2;
  top: 2px;
  left: 2px;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  border-radius: 8px 8px 0 0;
  cursor: pointer;
  .division-container.collapsed & {
    border-radius: 8px;
  }
}

//=============================================================================
//  Division Container > Division Header > Path (Ancestors)
//=============================================================================

.division-ancestor {
  z-index: 3;
  position: relative;
  padding: 10px 45px 10px 50px;
  text-align: center;
  font-weight: 300;
  clip-path: polygon(0% 0%, calc(100% - 30px) 0%, 100% 50%, calc(100% - 30px) 100%, 0% 100%, 30px 50%);
  transition: .3s;
  cursor: default;
  &:first-of-type {
    padding-left: 25px;
    clip-path: polygon(0% 0%, calc(100% - 30px) 0%, 100% 50%, calc(100% - 30px) 100%, 0% 100%);
  }
  &:nth-of-type(2) {
    transform: translateX(-30px);
  }
  &:nth-of-type(3) {
    transform: translateX(-61px);
  }
  &:nth-last-of-type(2) {
    background: $bg-black-transparent-thin;
  }
  &:nth-last-of-type(3) {
    background: $bg-black-transparent-medium;
  }
  &:nth-last-of-type(4) {
    background: $bg-black-transparent-medium-thick;
  }
  &-title {
    white-space: nowrap;
    transition: .2s;
    cursor: pointer;
    @include hover {
      color: $text-bright;
    }
  }
  @include desktop-small {
    padding: 10px 35px 10px 40px;
    &:first-of-type {
      padding-left: 10px;
    }
  }
}

//=============================================================================
//  Division Container > Division Header > Division Title
//=============================================================================

.division-title {
  z-index: 1;
  display: flex;
  flex-basis: 100%;
  min-width: 200px;
  justify-content: center;
  align-content: center;
  padding: 10px;
  color: $text-normal;
  transition: .3s;
  @include tablet {
    padding: 5px;
    transform: none !important;
  }
}

.division-container {
  &.type-era .division-title {
    transform: translateX(-15px);
  }
  &.type-period .division-title {
    transform: translateX(-30px);
  }
  &.type-epoch .division-title {
    transform: translateX(-45px);
  }
}

//=============================================================================
//  Division Container > Division Data Wrapper
//=============================================================================

.division-data {
  display: flex;
  align-items: stretch;
  width: min(1199px, 100%);
  @include tablet {
    flex-direction: column;
    align-items: center;
  }
}

//=============================================================================
//  Division Container > Division Data > Division Card
//=============================================================================

.division-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  min-width: 280px;
  margin: 15px;
  padding: 10px;
  z-index: 1;
  border-radius: 10px;
  background: $bg-black-transparent-thin;
  box-shadow: 0 0 3px 3px $shadow-black-transparent-thin inset;
  animation: fade-in .5s;
  @include tablet {
    flex-direction: row;
    justify-content: space-around;
    width: min(100% - 30px, 735px);
    margin: 10px 0 0 0;
    padding: 15px 0 15px 0;
  }
  @include mobile {
    flex-direction: column;
    width: calc(100% - 10px);
    min-width: unset;
    padding: 10px 10px 15px 10px;
  }
}

//=============================================================================
//  Division Container > Division Data > Division Card > Properties
//=============================================================================

.division-properties {
  display: flex;
  flex-direction: column;
}

.division-name {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 24px;
  letter-spacing: .01em;
  text-shadow: 1px 1px $shadow-dark;
  @include tablet {
    margin-bottom: 8px;
    font-size: 22px;
    .division-container:not(.type-eon) &:not(.button-above + &) {
      transform: translateX(27px);
    }
  }
  @include mobile {
    font-size: 20px;
    .division-container:not(.type-eon) & {
      transform: translateX(22px);
    }
  }
}

.division-duration {
  display: flex;
  flex-direction: column;
  color: $accent-lighter;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.02em;
  text-shadow: 1px 1px $shadow-dark;
  @include tablet {
    font-size: 16px;
  }
  @include mobile {
    font-size: 14px;
  }
}

//=============================================================================
//  Division Container > Division Data > Division Card > Collapse Button
//=============================================================================

.division-collapse-button {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 26px;
  margin-left: 14px;
  border: none;
  border-radius: 4px;
  background: $bg-black-transparent-thin;
  color: $text-dim;
  font-size: 14px;
  user-select: none;
  transition: .3s;
  cursor: pointer;
  &.button-above {
    width: 100px;
    height: 30px;
    margin: 0 auto 15px auto;
    padding: 0;
  }
  @include hover {
    background: $bg-black-transparent-medium;
    color: $text-normal;
  }
  @include mobile {
    align-self: center;
    width: 30px;
    height: 22px;
    border-radius: 3px;
    font-size: 12px;
  }
}

//=============================================================================
//  Division Container > Division Data > Division Card > Image
//=============================================================================

.division-image-container {
  display: flex;
  width: 256px;
  height: 192px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 4px solid $border-accent-dark;
  user-select: none;
  img {
    display: block;
    width: 100%;
    border-radius: 6px;
    transition: .2s;
    @include hover {
      filter: brightness(1.05);
    }
  }
  @include tablet {
    margin-top: 0;
    margin-bottom: 0;
  }
  @include mobile {
    margin-top: 15px;
  }
}

//=============================================================================
//  Division Container > Division Data > Subdivisions
//=============================================================================

.subdivisions-container {
  display: flex;
  z-index: 1;
  width: min(1180px, 100% - 20px);
  margin-bottom: 20px;
  .vertical-line-container {
    margin: 0 5px 0 4px;
    padding: 0 10px;
    text-align: center;
    .vertical-line {
      height: 100%;
      border-left: 1px dashed $border-accent;
    }
  }
  @include desktop-small {
    margin-bottom: 15px;
  }  
  @include tablet {
    width: min(735px, 100% - 30px);
  }
  @include mobile {
    width: calc(100% - 10px);
    margin-bottom: 10px;
  }
}
