@for (block of group(); track block.id) {

  <!-- Timeline Division Start Time -->
  @if (
    block.type === DivisionType.eon
      ? direction() === TimelineDirection.chronological || $first
      : direction() === TimelineDirection.chronological && !$first
  ) {
    <ng-template [ngTemplateOutlet]="boundary" [ngTemplateOutletContext]="{text: block.boundary.start}" />
  }
  
  <!-- Timeline Division Container -->
  <div
    [id]="block.id"
    class="division-container type-{{TypeName[block.type] | lowercase}} background-{{block.id}}"
    [ngClass]="{'collapsed': block.isCollapsed}">

    <!-- Timeline Division Header -->
    <div class="division-header">
      @if (isDesktop()) {
        @for (ancestor of block.ancestors; track ancestor.id) {
          <span class="division-ancestor">
            <span class="division-ancestor-title" (click)="navigateToBlock(ancestor)">
              {{ancestor.name}} {{TypeName[ancestor.type]}}
            </span>
          </span>
        }
      }
      <span class="division-title" (click)="toggleBlock(block)">
        {{block.name}} {{TypeName[block.type]}}
      </span>
    </div>

    @if (!block.isCollapsed) {
      <div class="division-data">

        <div class="division-card">

          <!-- Timeline Division Name and Duration -->
          <div class="division-properties">

            <div class="division-name">
              <span>{{block.name}} {{TypeName[block.type]}}</span>
              <button 
                type="button"
                class="division-collapse-button"
                [ngClass]="{'button-above': block.hasImage}"
                (click)="toggleBlock(block)">
                &#9650;
              </button>
            </div>

            <div class="division-duration">
              @for (line of block.duration[direction()]; track $index) {
                <div>{{line}}</div>
              }
            </div>
          </div>
          
          <!-- Timeline Division Image -->
          @if (block.hasImage) {
            <div class="division-image-container">
              <img src="./img/divisions/{{TypeName[block.type] | lowercase}}/{{block.id}}.webp" [alt]="block.name" />
            </div>
          }

        </div>

        <!-- Timeline Division Description -->
        @if (descriptions()![block.id]; as description) {
          <app-description [direction]="direction()" [block]="block" [description]="description" />
        }

      </div>

      <!-- Subdivisions -->
      @if (block.subBlocks.length) {
        @if (isDesktop()) {
          <app-time-scale [direction]="direction()" [block]="block" />
        }
        <div class="subdivisions-container">
          @if (isDesktop()) {
            <div class="vertical-line-container">
              <div class="vertical-line"></div>
            </div>
          }
          <app-division-group [group]="block.subBlocks" [direction]="direction()" />
        </div>
      }
    }
    
  </div>

  <!-- Timeline Division End Time -->
  @if (
    block.type === DivisionType.eon
      ? direction() === TimelineDirection.inverse || $last
      : direction() === TimelineDirection.inverse && !$last
  ) {
    <ng-template [ngTemplateOutlet]="boundary" [ngTemplateOutletContext]="{text: block.boundary.end}" />
  }
}

<!-- Timeline Division Boundary (Start or End Time) Template -->
<ng-template #boundary let-text="text">
  <div class="boundary">
    <div class="boundary-line"></div>
    <div class="boundary-value">{{text}}</div>
    <div class="boundary-line"></div>
  </div>
</ng-template>
