@use './styles-shared' as *;

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  min-width: 320px;
  background: $bg-base;
  color: $text-normal;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: antialiased;
  text-rendering: optimizeLegibility;
  animation: fade-in 1s;
  cursor: default;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  color: $text-selection;
  background: $bg-selection;
}
