@use '../../../../styles-shared' as *;

:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 150px;
}

//=============================================================================
//  Timeline Direction Controls
//=============================================================================

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 20px;
  color: $accent;
  font-family: 'Inconsolata', monospace;
  font-size: 22px;
  font-weight: 400;
  user-select: none;  
  @include tablet {
    margin: 35px 15px 25px 15px;
    font-size: 20px;
  }
  @include mobile {
    margin: 25px 10px 15px 10px;
    font-size: 16px;
  }
}

.label {
  margin-top: 3px;
  @include mobile {
    width: 100%;
    text-align: center;
    margin: 0 0 3px 0;
  }
}

button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
  padding: 3px 10px 5px 10px;
  border: none;
  border-radius: 5px;
  background: $bg-bright;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  transition: .2s;
  cursor: pointer;
  .underline {
    width: 0;
    margin-top: 2px;
    border-top: 1px dashed $border-medium;
    transition: .2s;
  }
  &.selected .underline {
    width: 100%;
  }
  @include hover {
    box-shadow: 0 0 4px 4px $shadow-accent inset;
  }
  @include mobile {
    margin: 5px;
  }
}

//=============================================================================
//  Wrapper
//=============================================================================

.timeline-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  opacity: 0;
  &.fading-in {
    animation: fade-in 1s both;
  }
  &.reversed {
    flex-direction: column-reverse;
  }
}

//=============================================================================
//  Images
//=============================================================================

.image-wrapper {
  position: relative;
  width: min(600px, 100% - 20px);
  margin: 20px auto;
  user-select: none;
  &:after {
    border-radius: 10px;
    box-shadow: 0 0 5px 5px $shadow-darker, 0 0 5px 5px $shadow-darker inset;
    pointer-events: none;
    @include element-overlay;
  }
  img {
    display: block;
    width: 100%;
    aspect-ratio: 2/1;
    border-radius: 10px;
  }
  @include mobile {
    &:after,
    img {
      border-radius: 5px;
    }
  }
}
